@model OllieShop.Models.Admins

@{
    ViewData["Title"] = "編輯管理員內容";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ADID" />
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnableDate" class="control-label"></label>
                <input asp-for="EnableDate" class="form-control" />
                <span asp-validation-for="EnableDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisableDate" class="control-label"></label>
                <input asp-for="DisableDate" class="form-control" />
                <span asp-validation-for="DisableDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="編輯" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
