<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OllieShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OllieShop.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Minty_Bootwatch_bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        .ShopLogo {
            height: 70px;
        }

        /*左側選單*/
        #SideMenu, #SideMenu ul {
            list-style: none;
            margin: 0;
            padding: 0;
            background-color: rebeccapurple;
        }

        #SideMenu > li {
            color: white;
            text-decoration: none;
            font-size: 1.4rem;
        }
        #SideMenu > li > ul > li{
            background-color: bisque;
            padding-top: 10px;
            padding-bottom: 10px;
        
        }

        #SideMenu li > ul > li:hover {
            background-color: silver;
        }

        #SideMenu > li > ul > li > a {
            text-decoration: none;
            color: #477dff;
        }
        /*左側選單*/
    </style>
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <header class="mb-0 flex-grow-0">
            <nav class="navbar navbar-expand-lg bg-info" data-bs-theme="dark">
                <div class="container-fluid">
                    <div>
                        <a class="navbar-item navbar-brand" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" class="ShopLogo" />
                        </a>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>

        <div class="container-fluid d-flex flex-column flex-grow-1">
            <div class="row flex-grow-1">
                <ul id="SideMenu" class="col-1 text-center">
                    <li>
                        <i class="me-2 bi bi-megaphone-fill"></i><a>公告發布</a>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link">尚未發布</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  asp-controller="Announcements" asp-action="Create">點我發布</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Announcements" asp-action="Index">總紀錄</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <i class="me-2 bi bi-person-fill-gear"></i><a>商城管理</a>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Index">用戶清冊</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admins" asp-action="Index">管理員清冊</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <i class="me-2 bi bi-pencil-square"></i><a>違規管理</a>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Violations" asp-action="unhandleViolationsPage">尚未處理</a>
                                </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Violations" asp-action="Index">案件總覽</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <i class="me-2 bi bi-gift"></i><a>商品相關</a>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Categorys" asp-action="Index">商品類別</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Products" asp-action="Index">商品總覽</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="ShipVias" asp-action="Index">運送方式</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="me-2 bi bi-clipboard"></i>訂單相關</a>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="PaymentMethods" asp-action="Index">付款方式</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Coupons" asp-action="Index">折價券總覽</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="CustomerCoupons" asp-action="Index">消費者票券總覽</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>尚未決定</a>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link">尚未決定</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">尚未決定</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <main role="main" class="col-11 mt-2">
                    @RenderBody()
                </main>
            </div>

        </div>

        <footer class="border-top sticky-footer text-muted bg-body-tertiary shadow-lg flex-grow-0">
            <div class="container-fluid d-flex align-items-center p-2">
                <div class="me-auto">
                    <div class="btn-group">
                        <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i><span class="ms-2">當前登入 : 管理員9527</span>
                        </button>
                        <ul class="dropdown-menu text-center">
                            <li>
                                <a class="dropdown-item p-0">
                                    <i class="me-2 bi bi-sliders"></i>
                                    <span>偏好</span>
                                </a>
                            </li>
                            <li >
                                <a class="dropdown-item">
                                    <i class="me-2 bi bi-gear"></i>
                                    <span>設定</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                    <div>
                        <a asp-controller="" asp-action="" class="btn btn-info me-5">內部公告</a>
                    </div>
                    <div>
                        <a asp-controller="" asp-action="" class="btn btn-outline-success me-3">行事曆</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @*側邊攔選單*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#SideMenu li ul').hide();
        $('#SideMenu>li').click(function () {
            $(this).find('ul').slideToggle(500);
        });

    </script>
    @*側邊攔選單*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
