<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OllieShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OllieShop.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Minty_Bootwatch_bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        .ShopLogo {
            height: 70px;
        }

        .red {
            color: rgb(255,0,0);
        }

        .rainbowGradient {
            border-radius: 5px;
            color: #fff;
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);
        }

        .dropdown-item {
            display: block;
            width: 100%;
            padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
            clear: both;
            font-weight: 400;
            color: #810cb3;
            text-align: inherit;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            border-radius: var(--bs-dropdown-item-border-radius, 0);
        }

        .modal-body> table>tbody td{
            height:150px;
        }

        .Cartfixed {
            position: fixed;
            bottom: 15%;
            right: 2%;
        }

    </style>
</head>
<body class="position-relative">
    <div class="d-flex flex-column min-vh-100">
        <header class="mb-0 flex-grow-0">
            <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
                <div class="container-fluid">
                    <div>
                        <a class="navbar-item navbar-brand" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" class="ShopLogo" />
                        </a>

                        <ul class="nav nav-pills">
                            <li class="nav-item dropdown mx-auto">
                                <div class="nav-link dropdown-toggle fs-5 text-primary bg-warning" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="bi bi-menu-button-wide"></i>所有功能</div>
                                <div class="dropdown-menu bg-warning" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);" data-popper-placement="bottom-start">
                                    <a class="dropdown-item">Action</a>
                                    <a class="dropdown-item">Another action</a>
                                    <a class="dropdown-item" asp-controller="DisplayAnnouncementsForUser" asp-action="Index">商城公告</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item">預留</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <div class="nav-item text-center">
                            <div class="nav-link navbar-brand container-fluid">
                                官方帳號
                            </div>
                            <div class="d-flex fs-4 container-fluid">
                                <div>
                                    <a href="https://www.facebook.com/groups/javascript.tw" target="_blank">
                                        <i class="bi bi-facebook m-1"></i>
                                    </a>
                                </div>
                                <div>
                                    <a href="https://www.instagram.com/explore/tags/%E7%A8%8B%E5%BC%8F%E8%A8%AD%E8%A8%88/" target="_blank">
                                        <i class="bi bi-instagram m-1 rainbowGradient"></i>
                                    </a>
                                </div>
                                
                                <div>
                                    <a href="@Html.Raw("https://youtube.com/@OllieShop-fz1is")" target="_blank">
                                        <i class="bi bi-youtube m-1 red"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <form class="d-flex me-auto container-fluid">
                            <input class="form-control me-sm-2 text-center bg-light text-dark" type="search" placeholder="請輸入你想找的商品">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" asp-controller="home" asp-action="Assistant">我的訂單</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" asp-controller="home" asp-action="Assistant">協助中心</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" asp-controller="" asp-action="">登入/註冊</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>

        <div class="container-fluid d-flex flex-grow-1">
            <main class="d-flex flex-grow-1" role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top sticky-footer text-muted bg-light shadow-lg flex-grow-0">
            <div class="container-fluid d-flex align-items-center p-2">
                <div class="me-auto">
                    <span>&copy; 2023 - OllieShop -</span>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">隱私權政策</a>
                </div>
                <div class="d-flex me-5">
                    <a asp-controller="home" asp-action="OfficialContactInfo" class="btn btn-info">聯絡我們</a>
                </div>
                <div class="d-flex me-3">
                    <a asp-controller="" asp-action="" class="btn btn-outline-success">快速訊息</a>
                </div>
            </div>
        </footer>
    </div>
    <!--Shopping Cart Start-->
    <!--Shopping Cart Modal Trigger-->
    <div class="Cartfixed">
        <i class="bi bi-cart4 fs-1 text-info text-end z-2" data-bs-toggle="modal" data-bs-target="#CartModal" onclick="getCartItems()"></i>
    </div>
    <div class="modal fade" id="CartModal" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary-subtle">
                    <h5 class="modal-title fs-4" id="exampleModalXlLabel" onclick="test()">購物車內容</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body p-2">
                </div>
                <div class="modal-footer">
                    <div class="me-auto fs-4"></div>
                    <!--BillForm Start-->
                    @using (Html.BeginForm("PlaceOrder", "Home", FormMethod.Post))
                    {
                        //productID
                        <input type="hidden" id="CartTableWithChildNode" name="CartTableWithChildNode" value=""/>
                        <input type="hidden" id="ProductFeeCount" name="ProductFeeCount" value="" />
                        <input type="submit" class="btn btn-primary btn-lg" value="結帳去" />
                    }
                    <!--BillForm End-->
                    <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

    <!--Shopping Cart END-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function getCartItems() {
            let cartData = localStorage.getItem('cartData');
            if(cartData == null){
                $('.modal-body').html("<h3 class='text-center text-primary'>目前購物車尚未加入任何商品!!</p>");
                //尚未有任何商品時不能將結帳去按鈕開放使用
                $('.modal-footer form>input:first-child+input').prop( "disabled", true );
                return "";
            }
            //有商品時將結帳去按鈕開放使用
            $('.modal-footer form>input:first-child+input').prop( "disabled", false );
            $.ajax({
                url: '@Url.Action("getCartInfo","Home")',
                type:"POST",
                data: cartData,
                contentType: 'application/json',
                success:function(response){
                    ProductInfo = JSON.parse(response);
                    let CartTable = `
                            <table class="w-100 text-center table table-borderless table-striped table-hover fs-3 align-middle" id="CartTable">
                                <thead>
                                    <tr>
                                        <th>圖片</th>
                                        <th>品名</th>
                                        <th>售價</th>
                                        <th>數量</th>
                                        <th>小計</th>
                                        <th colspan="2">贈品</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>`;
                    $('.modal-body').html(CartTable);
                    let ProductFeeCount = 0;
                    for (let singleProductInfo of ProductInfo) {
                        bodyRow =`
                        <tr class="border border-bottom-0 table-dark table-hover">
                            <td><img class="w-100 h-100 object-fit-fill" src="${singleProductInfo.Picture}" /></td>
                            <td>${singleProductInfo.SpecName}</td>
                            <td>NT$${singleProductInfo.UnitPrice}</td>
                            <td>${singleProductInfo.RequireQuantities}</td>
                            <td>NT$${singleProductInfo.UnitPrice * singleProductInfo.RequireQuantities}</td>
                            <td colspan="2">${singleProductInfo.Freebie}</td>
                        </tr>
                        `
                        $('.modal-body>table>tbody').append(bodyRow);
                        //加總所有產品小計
                        ProductFeeCount += (singleProductInfo.UnitPrice * singleProductInfo.RequireQuantities)
                    }
                    $('.modal-footer>.me-auto').append(`商品共計: <span class="text-success">NT$${ProductFeeCount}</span>`);
                    //取出整個CartTable節點(含子節點)填入轉向結帳頁面需要的Form表單，用意是將此table顯示在結帳頁面上
                    $('#CartTableWithChildNode').val($('#CartTable').prop("outerHTML"));
                    $('#ProductFeeCount').val(ProductFeeCount);

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("some error");
                }
            });
        }
        //modal關閉後,清空modal內的與購物車相關的節點
        const CartModal = document.getElementById('CartModal')
        CartModal.addEventListener('hidden.bs.modal', event => {
            $('.modal-body').empty();
            $('.modal-footer>.me-auto').empty();
        })
    </script>
</body>
</html>
