@model OllieShop.Models.Customers

@{
    ViewData["Title"] = "OllieShop商場條款簽署【消費者條款】";
}

<div class="container-fluid d-flex flex-column p-4">
    <pre class="fs-3">
        <h1 class="text-center">@ViewData["Title"]</h1><hr>
        <h2>消費者條款如下:</h2>
        <h3>1. 緒言</h3>
    歡迎您註冊並使用我們的購物網站OllieShop，（以下條文網站名稱將簡稱“網站”）。在註冊和使用我們的服務之前，
    請仔細閱讀以下條款和條件。當您註冊並使用我們的服務時，即表示您同意遵守本條款和條件。
        <h3>2. 註冊和帳戶</h3>
    2.1 您需要提供準確的個人資料以註冊並創建帳戶。您應該保證您的帳戶信息的準確性和完整性。

    2.2 您有責任保護您的帳戶信息和密碼，並對所有在您的帳戶下發生的活動負責。如有懷疑帳戶遭到未經授權的使用，應立即通知我們。
        <h3>3. 購買商品</h3>
    3.1 在我們的網站上購買商品時，您應該遵守所有適用的商品銷售條款和政策。

    3.2 我們保留拒絕或取消訂單的權利，包括但不限於處理錯誤價格或庫存數量等情況。
        <h3>4. 付款</h3>
    4.1 在我們的網站上完成訂單時，您應根據所選的付款方式支付相關費用。

    4.2 我們保留對付款方式的更改或限制的權利。
        <h3>5. 送貨和退換貨政策</h3>
    5.1 我們將竭盡所能以最快的方式將訂單交付給您，但不對因運輸或其他不可抗力事件而導致的交貨延誤負責。

    5.2 我們的退換貨政策適用於商品退換，請查看我們的網站以瞭解詳細信息。
        <h3>6. 隱私政策</h3>
    我們的隱私政策規定了我們如何處理您的個人信息。通過註冊和使用我們的服務，您同意我們按照隱私政策的規定處理您的信息。
        <h3>7. 賣場保留解釋權</h3>
    我們保留對這些條款和條件的最終解釋權。我們有權在提前通知的情況下更改這些條款和條件。
        <h3>8. 不得違背善良風俗</h3>
    您同意在使用我們的服務時不會從事違反道德、倫理或法律的行為，並且不會在我們的網站上發表或分享任何不當的內容。
        <h3>9. 終止帳戶</h3>
    我們保留隨時終止或暫停您的帳戶的權利，如果我們認為您違反了這些條款和條件，或者您的行為對我們的網站或其他用戶造成損害。
        <h3>10. 準據法律</h3>
    這些條款和條件受您所在地法律的約束。您同意任何與本協議有關的爭端都應交由當地法院管轄。
        <h3>11. 條款更新</h3>
    我們可能會不定期地更新條款內容。更新後的條款將在我們的平台上發布，請定期查看以了解最新資訊。

    如果您對於本條款有任何問題、意見或疑慮，或需要訪問、更正、刪除或限制使用您的個人資訊，請通過以下方式與我們聯繫：

    電子郵件：q15374185@ollieshop.com

    我們將盡快回覆您的查詢並解決您的問題。

    最後更新日期：2023年9月2日
    </pre>
    <form asp-action="CustomersAgreeTerms">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="URID" value="@ViewBag.URID" />
        <input type="hidden" name="purpose" id="purpose" value="@ViewBag.purpose" />
        <hr>
        <div class="form-group">
            <input type="submit" value="我已閱讀並同意賣場規範，點下按鈕完成消費者身分領取" class="btn btn-primary btn-lg" onclick="alert('成功領取消費者身分!!，完成登入後即可在賣場購物')" />
        </div>
    </form>

    <div class="my-3 fs-4">
        <a asp-action="Index" asp-controller="Home">異議!! 我考慮一下，返回賣場首頁</a>
    </div>
</div>
