@{
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
    ViewData["Title"] = "消費者功能選單";
    var customerInfomation = Context.Session.GetString("CustomerInfomation");
    var customerFullInfo = Newtonsoft.Json.JsonConvert.DeserializeObject<Customers>(customerInfomation);
}
<style>
    body{
        background-image:url("/img/ForestBackGround.jpg");
        background-size:cover;
    }

    .customerOptionsMenu>h1:first-child{
        color:aquamarine;
    }
</style>
<div class="container flex-grow-1 d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
        <div class="col-3 text-center customerOptionsMenu d-flex flex-column fs-3">
            <h1 class="fontBorder">@ViewData["Title"]</h1>
            <h2><a class="text-white effect-shine" asp-action="Index" asp-controller="CustomerOrdersManagement" asp-route-CRID="@customerFullInfo.CRID">我的訂單管理</a></h2>
            <h2><a class="text-white effect-shine" asp-action="Index" asp-controller="CustomerCouponsBackEndPage" asp-route-CRID="@customerFullInfo.CRID">我的折價券管理</a></h2>
            <h2><a class="text-white effect-shine" asp-action="Index" asp-controller="PaymentCardsFrontEndPage" asp-route-CRID="@customerFullInfo.CRID">我的信用卡管理</a></h2>
        </div>
    </div>
</div>