@model IEnumerable<OllieShop.ViewModels.VMProductWithSpecification>
@{
    ViewData["Title"] = "Ollie Shop網站首頁";
}
<style>
    .card{
        height:400px;
    }
</style>
<div class="row flex-grow-1">
    <div class="col-1">
        <i class="me-2 bi bi-funnel-fill"></i><span>進階篩選</span>
        <p>本日促銷</p>
        <p>其他</p>
    </div>
    <div class="col-9 container" id="container">
        <!--CardComponentPlacePosition-->
        <div class="row p-0 d-flex justify-content-between">
            @foreach (var productInfo in Model)
            {
                <div class="col-2 card m-2 p-0 d-flex flex-column" onclick="RedirectToProductPage(@productInfo.PTID)">
                    <img src="@productInfo.Picture" class="card-img-top flex-grow-1 img-fluid">
                    <div class="card-body flex-grow-0">
                        <h5 class="card-title"><strong>@productInfo.Name</strong></h5>
                        <p class="card-text text-truncate">@productInfo.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-2 d-flex flex-column p-0">
        <div class="flex-grow-1">
            <!--carouseforBanner-->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="6000">
                        <img class="w-100" src="~/img/banner1.png" />
                    </div>
                    <div class="carousel-item" data-bs-interval="6000">
                        <img class="w-100" src="~/img/banner2.png" />
                    </div>
                    <div class="carousel-item" data-bs-interval="6000">
                        <img class="w-100" src="~/img/banner3.png" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!--carouse-->
        </div>
        <div class="flex-grow-0 mb-4">
            <div class="offset-9">
                <i class="bi bi-cart4 fs-1"></i>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function RedirectToProductPage(PTID) {
            $.ajax({
                type: "GET",
                url: "/Home/ProductPage",
                data: {PTID:PTID},
                success:function(response){
                    //跳轉到ProductPageAction
                    window.location.href = "/Home/ProductPage?PTID=" + PTID;
                }
            });
        }
    </script>
}
