@{
    ViewData["Title"] = "聯絡我們";
}
<div class="d-flex flex-column container-fluid">
    <h1>@ViewData["Title"]</h1>

    感謝您使用OllieShop！如果您有任何疑問、意見或需要協助，請隨時與我們聯繫。我們的團隊將竭誠為您提供支援和解答您的問題。

    <h2 class="mt-1">客戶服務</h2>

    如需與我們的客戶服務團隊聯繫，請使用以下資訊：

    電子郵件：q15374185@gmail.com
    電話號碼：07-5423-5423 #55(週一至週五，上午9點至下午5點）

    我們的客戶服務團隊將儘快回覆您的查詢。請提供您的訂單號碼（如適用）以方便我們更快地為您提供幫助。

    <h2 class="mt-1">媒體接洽</h2>

    如欲就合作機會或其他媒體相關事宜聯繫我們，請使用以下資訊：

    電子郵件：q15374185@gmail.com
    電話號碼：07-5423-5423 #54(週一至週五，上午9點至下午5點）

    我們的自媒體小組將盡快回覆您的查詢。請提供您的姓名、機構名稱和相關詳情，以便我們更好地了解您的需求。

    <h2 class="mt-1">合作機會</h2>

    對於合作機會、商案推廣、廣告發布、或其他業務相關事宜，請聯繫我們的業務發展團隊：

    電子郵件：q15374185@gmail.com
    電話號碼：07-5423-5423 #53(週一至週五，上午9點至下午5點）

    我們的業務發展團隊將尋找最佳的解決方案，以滿足您的需求。請提供您的公司名稱、業務範疇和相關詳情，以便我們更好地了解您的合作需求。

    <h2 class="mt-1">地址</h2>

    如果您需要將郵件或文件寄送給我們，請使用此郵寄地址：

    500 高譚市華南區水庫街56號1樓 OllieShop專用信箱 陳秘書收
    <div class="card border-warning mb-3 mt-1" style="max-width: 33rem;">
        <div class="card-header fw-bold fs-4">特別注意事項</div>
        <div class="card-body">
            <p class="card-text">提醒您，這個地址僅供郵寄用途,恕不受理訪客實際到訪與預約洽詢。</p>
        </div>
    </div>

    <div>
        <a asp-action="Index">回首頁</a>
    </div>
</div>