@{
    ViewData["Title"] = "隱私權政策";
}
<h1>@ViewData["Title"]</h1>

<p>歡迎使用OllieShop購物平台！在OllieShop，我們非常重視您的隱私權保護。本隱私權政策將解釋我們收集、使用和保護您的個人資訊的方式，以及您在使用我們的平台時享有的相關權利。請仔細閱讀以下內容。</p>
<p>一、資訊收集</p>
<p>1.1 註冊資訊：當您在OllieShop平台註冊帳號時，我們可能會收集您提供的個人資訊，例如姓名、電子郵件地址、聯絡電話等。這些資訊將用於設立和管理您的帳號。</p>
<p>1.2 交易資訊：當您在OllieShop進行購物或交易時，我們可能會收集有關您的交易資訊，包括購買的商品、交易金額、付款方式等。這些資訊將用於處理您的訂單、提供客戶支援以及進行相關的客戶服務。</p>
<p>1.3 日誌資訊：我們使用常見的互聯網技術，例如Cookie和網站分析工具，來收集有關您使用OllieShop的日誌資訊。這些資訊包括您的IP位址、瀏覽器類型、訪問時間和日期、瀏覽頁面等。我們使用這些資訊來分析使用者行為、改善平台功能和提供更好的使用者體驗。</p>
<p>二、資訊使用</p>
<p>2.1 我們使用您的個人資訊來設立和管理您的帳號，並提供您所需的產品和服務。</p>
<p>2.2 我們可能會使用您的資訊來向您提供個性化的推薦、促銷和市場活動，但只有在您事先同意的情況下才會進行。</p>
<p>2.3 我們可能會使用您的資訊來改善我們的平台功能、研究市場趨勢，並進行內部分析和統計。</p>
<p>2.4 在法律要求或符合相關法規的情況下，我們可能會使用您的資訊來遵守相關法律義務、執行使用條款，或保護我們自己和其他使用者的權益。</p>
<p>三、資訊保護</p>
<p>3.1 我們採取適當的技術和組織措施來保護您的個人資訊，防止未經授權的訪問、使用、洩漏或損害。</p>
<p>3.2 我們只保留您的個人資訊所必需的時間，除非法律有其他要求。</p>
<p>3.3 雖然我們努力保護您的個人資訊，但請注意，互聯網上的資訊傳輸並不完全安全，因此我們無法保證資訊的絕對安全。</p>
<p>四、資訊分享</p>
<p>4.1 我們不會出售、出租或交換您的個人資訊給第三方，除非在獲得您的同意或法律要求的情況下。</p>
<p>4.2 我們可能會與第三方合作夥伴共享必要的資訊，以便提供相關的產品和服務，例如物流合作夥伴為了運送您的訂單而需要您的地址資訊。</p>
<p>4.3 在法律要求或符合相關法規的情況下，我們可能會透露您的資訊，包括與法律執行機構的合作。</p>
<p>五、未成年人政策</p>
<p>OllieShop平台僅供年滿18歲的成年人使用。如果您是未滿18歲的使用者，請在法定監護人的監護下使用本平台。</p>
<p>六、更新和聯繫方式</p>
<p>我們可能會不定期地更新本隱私權政策的內容。更新後的隱私權政策將在我們的平台上發布，請定期查看以了解最新資訊。</p>
<p>如果您對於本隱私權政策有任何問題、意見或疑慮，或需要訪問、更正、刪除或限制使用您的個人資訊，請通過以下方式與我們聯繫：</p>
<p>電子郵件：q15374185@ollieshop.com</p>
<p>我們將盡快回覆您的查詢並解決您的問題。</p>
<p>最後更新日期：2023年7月13日</p>