@model OllieShop.Models.Sellers

@{
    ViewData["Title"] = "領取業者身分頁";
    Layout = "~/Views/Shared/_Layout.cshtml";
    long URID = Convert.ToInt64(TempData["forUserIdentity"]);//源頭取自User註冊action傳遞的參數並將其強制轉型
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShopNAME" class="control-label"></label>
                <input asp-for="ShopNAME" class="form-control" />
                <span asp-validation-for="ShopNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>是否為具有統一編號之業者？</label>
                <div class="form-check">
                    <input type="radio" name="HasTaxID" value="true" id="taxIdOption1" />
                    <label class="form-check-label" for="taxIdOption">有統一編號之業者</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="HasTaxID" value="false" id="taxIdOption2" />
                    <label class="form-check-label">無統一編號之業者</label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="TaxID" class="control-label"></label>
                <input asp-for="TaxID" class="form-control" id="taxIdInput" readonly />
                <span asp-validation-for="TaxID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BankCode" class="control-label"></label>
                <input asp-for="BankCode" class="form-control" />
                <span asp-validation-for="BankCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount" class="control-label"></label>
                <input asp-for="BankAccount" class="form-control" />
                <span asp-validation-for="BankAccount" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="URID" class="control-label"></label>
                <input asp-for="URID" class="form-control" value="@URID" />
                <span asp-validation-for="URID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="輸入完資料後請點我領取業者身分" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-5">暫時不領取業者身分，請點我回賣場首頁</a>
</div>

<script>

        //統一編號的Radio選項
        const taxIdOption1 = document.getElementById("taxIdOption1");
        const taxIdOption2 = document.getElementById("taxIdOption2");
        const taxIdInput = document.getElementById("taxIdInput");

        taxIdOption1.addEventListener("change", function () {
            if (taxIdOption1.checked) {
                taxIdInput.value ="";
                taxIdInput.removeAttribute("readonly");
            }
        });

        taxIdOption2.addEventListener("change", function () {
            if (taxIdOption2.checked) {

                taxIdInput.value = "無統一編號之業者";
                taxIdInput.setAttribute("readonly" , "readonly");
            }
        });



</script>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
