@{
    ViewData["Title"] = "OllieShop商場條款簽署【業者條款】";
}
<div class="container-fluid d-flex flex-column p-4">
    <pre class="fs-3">
        <h1 class="text-center">@ViewData["Title"]</h1><hr>
        <h2>業者條款如下:</h2>
        <h3>1. 緒言</h3>
    歡迎您註冊並使用我們的購物網站OllieShop，（以下條文網站名稱將簡稱“網站”）。在註冊和使用我們的服務之前，
    請仔細閱讀以下條款和條件。當您註冊並使用我們的服務時，即表示您同意遵守本條款和條件。
        <h3>2. 業者註冊</h3>
    2.1. 業者註冊是本網站的一個必要步驟，以成為本網站的業者。我們保留接受或拒絕任何業者註冊的權利，恕不另行通知。

    2.2. 您必須提供真實、正確、最新和完整的註冊資訊。您的業者資訊將用於本網站的運營和管理，並可能根據我們的隱私政策進行處理。

    2.3. 您將對您的業者賬戶和密碼負全部責任，不得將其提供給第三方使用。您應立即通知我們任何未經授權使用您的賬戶或任何其他安全漏洞。
        <h3>3. 賣場保留解釋權</h3>
    3.1. 本公司保留解釋、修改或刪除本條款的權利。任何修改將在本網站上公佈，並自公佈之日起生效。您應定期查看本條款以確保您瞭解所有變更。

    3.2. 本公司保留隨時終止、暫停或限制您的業者註冊賬戶的權利，無需提前通知。這可能會發生在我們認為您違反了本條款或違反了適用法律的情況下。
        <h3>4. 不得違背善良風俗</h3>
    4.1. 您同意不在本網站上銷售、宣傳或提供與善良風俗相違背的任何產品、服務或內容。本公司保留隨時審查並刪除違背善良風俗的內容的權利。
        <h3>5. 責任限制</h3>
    5.1. 本公司對於由您或任何其他業者引起的任何損失或損害概不負責，包括但不限於直接、間接、附帶、特殊或後果性損害。
        <h3>6. 法律適用和管轄法院</h3>
    6.1. 本條款受到[您的國家或地區]法律的管轄。任何因本條款引起的爭端應提交[選擇一個適用的法院]的專屬管轄權。
        <h3>7. 條款更新</h3>
    我們可能會不定期地更新條款內容。更新後的條款將在我們的平台上發布，請定期查看以了解最新資訊。

    如果您對於本條款有任何問題、意見或疑慮，或需要訪問、更正、刪除或限制使用您的個人資訊，請通過以下方式與我們聯繫：

    電子郵件：q15374185@ollieshop.com

    我們將盡快回覆您的查詢並解決您的問題。

    最後更新日期：2023年9月3日
    </pre>
    <hr>
    <div>
        <a class="btn btn-primary btn-lg" asp-action="Create" asp-route-URID="@ViewBag.URID">我已閱讀並同意賣場規範</a>
    </div>
    <div class="my-3 fs-4">
        <a asp-action="Index" asp-controller="Home">異議!! 我考慮一下，返回賣場首頁</a>
    </div>
</div>