@model OllieShop.Models.Orders

@{
    ViewData["Title"] = "取消訂單頁";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SVID" />
            <input type="hidden" asp-for="ORID" />
            <input type="hidden" asp-for="CRID" />
            <input type="hidden" asp-for="ASID" />
            <input type="hidden" asp-for="PCID" />
            <input type="hidden" asp-for="SRID" />
            <input type="hidden" asp-for="PMID" />
            <input type="hidden" asp-for="CNID" />
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" readonly/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label" for="Canceled">
                    取消訂單
                    <input class="form-check-input" asp-for="Canceled" />
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存變更" class="btn btn-primary my-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-CRID="@Model.CRID">不取消，返回我的訂單總覽</a>
</div>

