@model OllieShop.Models.Sellers

@{
    ViewData["Title"] = "修改商鋪資料";
    Layout = "~/Views/Shared/_Layout_Seller.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SRID" />
            <div class="form-group">
                <label asp-for="ShopNAME" class="control-label"></label>
                <input asp-for="ShopNAME" class="form-control" />
                <span asp-validation-for="ShopNAME" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label>是否為具有統一編號之業者？</label>
                <div class="form-check">
                    <input type="radio" name="HasTaxID" value="true" id="taxIdOption1" />
                    <label class="form-check-label" for="taxIdOption">有統一編號之業者</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="HasTaxID" value="false" id="taxIdOption2" />
                    <label class="form-check-label">無統一編號之業者</label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="TaxID" class="control-label"></label>
                <input asp-for="TaxID" class="form-control" id="taxIdInput" readonly />
                <span asp-validation-for="TaxID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BankCode" class="control-label"></label>
                <input asp-for="BankCode" class="form-control" />
                <span asp-validation-for="BankCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankAccount" class="control-label"></label>
                <input asp-for="BankAccount" class="form-control" />
                <span asp-validation-for="BankAccount" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="URID" class="control-label"></label>
                <input asp-for="URID" class="form-control" value="@Model.URID"></input>
                <span asp-validation-for="URID" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="儲存修改" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="OptionsMenu" asp-controller="SellersBackEndPage">不修改，返回業者後台</a>
</div>

<script>
    const taxIdOption1 = document.getElementById("taxIdOption1");
    const taxIdOption2 = document.getElementById("taxIdOption2");
    const taxIdInput = document.getElementById("taxIdInput");

    taxIdOption1.addEventListener("change", function () {
        if (taxIdOption1.checked) {
            taxIdInput.value = "";
            taxIdInput.removeAttribute("readonly");
        }
    });

    taxIdOption2.addEventListener("change", function () {
        if (taxIdOption2.checked) {

            taxIdInput.value = "無統一編號之業者";
            taxIdInput.setAttribute("readonly", "readonly");
        }
    });

    // 初始化時根據Radio button的默认选项进行显示和隐藏
    if (taxIdOption1.checked) {
        taxIdInputContainer.style.display = "block";
        setTaxIDInputReadOnly(false);
    } else if (taxIdOption2.checked) {
        taxIdInputContainer.style.display = "none";
        taxIdInput.value = "無統一編號之業者";
        setTaxIDInputReadOnly(true);
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
