
@{
    ViewData["Title"] = "業者功能選單";
    Layout = "~/Views/Shared/_Layout_Seller.cshtml";
    var SellerInfomation = Context.Session.GetString("SellerInfomation");
    Sellers sellerFullInfo = Newtonsoft.Json.JsonConvert.DeserializeObject<Sellers>(SellerInfomation);
    
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Index" asp-controller="SellerProductsManagement" asp-route-SRID="@sellerFullInfo.SRID">商品管理</a>
<hr>
<a asp-action="Details" asp-controller="SellersBackEndPage" asp-route-SRID="@sellerFullInfo.SRID">我的商鋪管理</a>
