@model OllieShop.Models.PaymentCards

@{
    ViewData["Title"] = "卡片編輯頁";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PCID" />
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityCode" class="control-label"></label>
                <input asp-for="SecurityCode" class="form-control" />
                <span asp-validation-for="SecurityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillAddress" class="control-label"></label>
                <input asp-for="BillAddress" class="form-control" />
                <span asp-validation-for="BillAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CRID" class="control-label"></label>
                <select asp-for="CRID" class="form-control" asp-items="ViewBag.CRID"></select>
                <span asp-validation-for="CRID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="編輯" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到信用卡總覽</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
