
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestFunctionView</title>
</head>
<body>
    <form asp-action="Create" enctype="multipart/form-data">
        <input type="file" name="photo"/>
        <input type="submit" value="上傳檔案"/>
    </form>
</body>
</html>
