@model OllieShop.Models.SellerShipVias

@{
    ViewData["Title"] = "運送方式綁定";
    Layout = "~/Views/Shared/_Layout_Seller.cshtml";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SRID" />
            <input type="hidden" asp-for="SVID" />
            <h3>方式 : @ViewData["ShipViasName"]</h3>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Canceled" /> @Html.DisplayNameFor(model => model.Canceled)
                </label>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="my-3" asp-action="Index" asp-route-SRID="@Model.SRID">返回運送方式總覽</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
